.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  left: unset;
  right: 10px;
  width: auto;
}

.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.7;
}
.swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
}
